<!-- Series links -->
<div class="notice" markdown="1">
    <h3>More from the {{ page.series_title | upcase }} series</h3>
    {% assign posts = site.posts | where: "is_series", true | where: "series_title", page.series_title | sort: 'series_number' %}
    <ol>
    {% for post in posts %}
        {% if post.title == page.title %}
            <li><p class="nav-link bullet-pointer mb-0">{{ post.title }}</p></li>
        {% else %}
            <li><a class="nav-link bullet-hash" href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ol>
</div>
