---
# Only the main Sass file needs front matter 
search: false
---
@charset "utf-8";

// Custom colors
$light_main: #E8D5B7;
$medium_main: #F9B248;
$bright_main: #E68000;
$dark_main: #954929;
$black_main: #3A1820;
$dark_accent: #85394C;
$medium_accent: #DB849A;
$light_accent: #EEDDDD;

// Color Tweaks

$primary-color: $dark_accent; //For Buttons
$text_color: $black_main;
$yiq-contrasted-dark-default: $black_main;
$yiq-contrasted-light-default: $light_accent;






@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
