---
# Only the main Sass file needs front matter
search: false
---
@charset "utf-8";

// Custom colors
$light_main: lighten(#E8D5B7,7%);
$medium_main: #F9B248;
$bright_main: #E68000;
$dark_main: #954929;
$black_main: #3A1820;
$dark_accent: #85394C;
$medium_accent: #DB849A;
$light_accent: #EEDDDD;
$white_main: $light_accent;

// Color Tweaks

$background-color: $light_main; //very similar to sunrise
$footer-background-color: $medium_main; //very similar to sunrise
$primary-color: $dark_accent; //For Buttons
$text_color: $black_main;
$yiq-contrasted-dark-default: $black_main;
$yiq-contrasted-light-default: $white_main;
$yiq-contrasted-threshold: 128;

$info-color: $medium_accent;






@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



/*
GS: override any CSS with new CSS styles AFTER the `@import "minimal-mistakes";` line just above!
See: https://github.com/mmistakes/minimal-mistakes/issues/1219#issuecomment-326809412
Anything you place after this point will therefore "cascade and override" the previous CSS styles.
*/

/*
GS: Decrease font sizes of the entire website.
Defaults for small, medium, large, and x-large screens are:
16, 18, 20, and 22px, in that order. All other font sizes are "em"
[typography unit](https://en.wikipedia.org/wiki/Em_(typography)) multipliers of these pixel
(px) values, and are therefore relative to and changed by these singular pixel values.
See: https://github.com/mmistakes/minimal-mistakes/issues/1219#issuecomment-326809412
- It looks like the screen pixel sizes to move into each new "size" category are defined in
  the "Breakpoints" section of "_variables.scss"?
*/
html {
    font-size: 18px; 
    //default 0-600 px wide 
    //Equivalent of a vertical iphone.
  
    @include breakpoint($small) {
      font-size: 18px; 
      // Default 600-768 px
      //Equivalent of a small horizontal iphone
    }
  
    @include breakpoint($medium) {
      font-size: 20px; 
      // Default 768-900. 
      //Equivalent to vertical ipad
    }

    @include breakpoint($medium-wide) {
      font-size: 20px; 
      // Default 900-1024. 
      //Equivalent to vertical ipad
    }
  
    @include breakpoint($large) {
      font-size: 22px; 
      // default 1024-1280. 
      //Equivalent to horizontal ipad, vertical ipad pro, half-width laptop window
    }
  
    @include breakpoint($x-large) {
      font-size: 22px; 
      // default 1280+
      // equivalent to full desktop, pro tablet
    }
  }
