/* ==========================================================================
   TABLES
   ========================================================================== */
$header-background-color: $border-color;
$cell-border-color: mix(#000 , $header-background-color, 25%);//mix($dark-accent, $header-background-color, 25%);

table {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}

thead,
th {
  background-color: $header-background-color;
  border-bottom: 2px solid $cell-border-color;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: start;
}

td {
  padding: 0.5em;
  border-bottom: 2px solid $cell-border-color;
}

tr,
td,
th {
  vertical-align: middle;
}

// unbordered table style

.unbordered{
  border: none;
}

// Making a bordered table style
.bordered {
  border: 4px;
  border-style: solid;
  border-color: $dark-accent;
  border-radius: 2px;
  border-collapse: collapse;
}

table.unbordered,
table.bordered {
  td, th {
    // set all cells to have a solid border
    border: 2px solid $cell-border-color; 
  }
  tr:first-child *,
  th:first-child *{
    // Set first row cells to have no top border
    border-top: 0;
  }
  tr :first-child,
  th :first-child {
    // set all rows' first column to have no top border
    border-left: 0;
  }
  tr:last-child *,
  th:last-child * {
    // set last row's sells to have no bottom border
    border-bottom: 0;
  }
  tr :last-child,
  th :last-child {
    // set all row's last cell to have no right border
    border-right: 0;
  }
}
